[submodule "src/printerConnector/cassini"]
	path = src/printerConnector/cassini
	url = https://github.com/vvuk/cassini.git
[submodule "src.prinerConnector.cassini"]
	url = https://github.com/jacekon/cassini.git
